.perspective {
  -webkit-perspective: 76em;
  perspective: 76em;
  -webkit-perspective-origin: 50% 50px;
  perspective-origin: 50% 50px;
  width: 494px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #ae4141;
  text-align: center;
}

input {
  display: none;
}

.tab {
  position: absolute;
  width: 80px;
  height: 70px;
  background: pink;
  right: 0;
  line-height: 70px;
  font-weight: 300;
}

.tab:nth-child(1) {
  top: -5px;
  background: #06d6a0;
}

.tab:nth-child(2) {
  top: 69px;
  background: #1b9aaa;
}

.tab:nth-child(3) {
  top: 143px;
  background: #ef476f;
}

.cube {
  position: relative;
  margin: 60px auto 0;
  width: 300px;
  height: 200px;
  -webkit-transform-origin: 0 100px;
  -ms-transform-origin: 0 100px;
  transform-origin: 0 100px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;

  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.tab-content {
  width: 300px;
  height: 200px;
  position: absolute;
}

.tab-content h1 {
  font-size: 25px;
  margin: 75px 0 10px;
  font-weight: 300;
}

.tab-content:nth-child(1) {
  -webkit-transform: translateZ(100px);
  transform: translateZ(100px);
  background: yellow;
}
.tab-content:nth-child(2) {
  -webkit-transform: rotateX(-90deg) translateY(100px);
  transform: rotateX(-90deg) translateY(100px);
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  background: blue;
}
.tab-content:nth-child(3) {
  -webkit-transform: rotateX(180deg) translateZ(100px) translateY(-200px);
  transform: rotateX(180deg) translateZ(100px) translateY(-200px);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  background: green;
}
.tab-content:nth-child(4) {
  -webkit-transform: rotateX(-270deg) translateY(-100px);
  transform: rotateX(-270deg) translateY(-100px);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  background: red;
}

@keyframes spin {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
